html {
  --color-accent: oklch(0.5408 0.1258 250);
  accent-color: var(--color-accent);
}

body {
  /* Set line height to 1.5 times the font size
    and use the OS’s UI font as the website font
  */
  font: 100%/1.5 system-ui;
  max-width: 100ch;
  margin-inline: max(1em, (100% - 100ch) / 2);
  padding: 25px 50px;
}

nav ul,
nav li {
  display: contents;
}

nav {
  display: flex;
  margin-bottom: 1em;
  border-bottom: 1px solid oklch(80% 3% 200);
}

nav a {
  flex: 1;
  text-align: center;
  text-decoration: none;
  color: inherit;
  padding: 0.5em;
}

nav a.current {
  border-bottom: 0.4em solid oklch(80% 3% 200);
  padding-bottom: 0.1em;
}

nav a:hover {
  border-bottom: 0.4em solid var(--color-accent);
  background-color: oklch(from var(--color-accent) 95% 5% h);
}

input,
textarea,
button {
  font: inherit;
}

input,
textarea,
button {
  padding: 0.5em;
  border: 1px solid oklch(80% 3% 200);
  border-radius: 4px;
}

button {
  background-color: var(--color-accent);
  color: white;
  border: none;
  padding: 0.5em 1em;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: oklch(from var(--color-accent) 40% 5% h);
}

/* Grid layout for contact page */
form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
}

label {
  display: grid;
  grid-template-columns: subgrid;
}

button {
  grid-column: 1 / -1;
}

/* Projects responsive grid */
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
}

/* Horizontal alignment with subgrid */
.projects article {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
  padding: 1em;
  border: 1px solid oklch(80% 3% 200);
  border-radius: 8px;
}

/* Avoid excessive spacing */
.projects h2 {
  margin: 0;
}
